name: Indent

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    container: 
      image: dealii/dealii:v9.6.0-jammy
      options: --user root

    steps:
    - uses: actions/checkout@v2
    - name: Check indentation
      run: |
         ./scripts/check_indentation.sh